[submodule "code/multiMultiFoam"]
	path = code/multiMultiFoam
	url = git@gitlab.kit.edu:kit/istm/research/multimultifoam.git
	branch = add_cfdFunctions_review
[submodule "code/twoPhaseFlow"]
	path = code/twoPhaseFlow
	url = git@gitlab.kit.edu:kit/istm/research/multiMultiFoam_thirdParty/twoPhaseFlow.git
	branch = main
[submodule "code/mmf_scripts"]
	path = code/mmf_scripts
	url = git@gitlab.kit.edu:kit/istm/research/multiMultiFoam_extend/scripts.git
	branch = main
