mmfIbm
channelMixing

results
postProcessing
dynamicCode
polyMesh
log.*

0
0.[0-9]*
[1-9]*
*.foam
nohup.out

*.png

processor*
!ibmAirfoil_multiCore*/[0-9]*
!ibmAirfoil_*/[0-9]*
!ibmAirfoil_*/log.*
!ibmAirfoil_*/foam.foam
!alphaParameterstudy/alpha*/[0-9]*
!alphaParameterstudy/log.*
!alphaParameterstudy/foam.foam
ibmAirfoil_test