// builds
linux64Gcc*
lnInclude

// vs code config
.vscode

// python stuff
__pycache__

// logs
log.*

// possible solutions in test cases
[1-9]*
0*
dynamicCode
constant/polyMesh
constant/cellToRegion
*.foam
images
postProcessing
